@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    *{
        margin: 0px;
        padding: 0px;
    }
}
header{
    width: 100%;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1568206222579-3d32da70596b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1033&q=80') bottom / cover;
    box-shadow: inset rgba($color: #000000, $alpha: .6);
    ul{
        display: flex;
        list-style: none;
        justify-content: space-around;
        padding: 20px 0px;
        background-color: rgba(47, 47, 47, 47);
        li{
            a{
                font-size: 25px;
                color: black;
                text-decoration: none;
                font-weight: 600;
                transition: 500ms;
                &:hover{
                    color: rgb(209, 209, 209);
                    text-shadow: 0px 0px 10px rgb(200, 200, 200);
                }
            }
        }
    }
}
main{
    .btn{
        padding: 15px 20px;
        margin: 20px;
        background-color: rgb(221, 136, 0);
        color: white;
        border: none;
        font-weight: 600;
        border-radius: 2px;
    }
    .card{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        div{
            width: 220px;
            margin: 40px 20px;
            background-color: rgb(224, 224, 224);
            text-align: center;
            padding: 20px;
            img{
                width: 25%;
            }
            h3{
                margin: 15px 0px;
            }
        }
    }
    .scene{
        display: flex;
        justify-content: center;
        // flex-wrap: wrap;
        padding: 30px;
        background-color: rgb(2, 6, 12);
        div{
            width: 600px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            padding: 0px 50px;
            color: white;
            p{
                margin: 40px 0px;
            }
        }
        video{
            width: 500px;
            height: 400px;
        }
    }
    .goods{
        text-align: center;
        h1{
            font-size: 45px;
            margin-top: 10px;
            position: relative;
            &::before{
                content: '';
                width: 150px;
                position: absolute;
                border: 2px solid rgb(221, 136, 0);
                bottom: 0px;
                left: 44%;
            }
        }
        p{
            width: 40%;
            font-size: 20px;
            margin: 20px auto;
        }
        section{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            img{
                width: calc(100% / 4);
                height: 200px;
            }
        }
    }
    .skills{
        display: flex;
        justify-content: center;
        padding: 50px;
        div:nth-child(1){
            display: flex;
            align-items: center;
            justify-content: center;
            width: 250px;
            background-color: rgb(149, 149, 149);
            margin: 10px;
            img{
                width: 180px;
                border-radius: 50%;
            }
        }
        div:nth-child(2){
            background-color: rgb(149, 149, 149);
            padding: 20px;
            margin: 10px;
            p{
                margin: 20px 0px;
            }
            div{
                display: flex;
                justify-content: space-between;
                margin: 20px 0px;
                position: relative;
                overflow: hidden;
                transition: 600ms;
                h3{
                    font-weight: 400;
                }
                &::before{
                    content: '';
                    width: 100%;
                    height: 2px;
                    background-color: white;
                    position: absolute;
                    bottom: 0px;
                    left: 0px;
                }
                &::after{
                    content: '';
                    width: 88%;
                    height: 7px;
                    background-color: rgb(221, 136, 0);
                    position: absolute;
                    bottom: -2px;
                    left: -900px;
                    transition: 700ms;
                }
                &:hover::after {
                    left: 0px;
                }
            }
        }
        
    }
    .features{
        text-align: center;
        background-color: rgb(20, 19, 19);
        color: white;
        padding: 30px;
        padding-bottom: 0px;
        h1{
            position: relative;
            text-align: center;
            &::before{
                content: '';
                width: 90px;
                height: 3px;
                position: absolute;
                bottom: -10px;
                left: 46%;
                background-color: rgb(36, 34, 34);
            }
        }
        .short{
            display: flex;
            justify-content: center;
            div{
                width: 100px;
                padding: 20px 15px;
                margin: 20px;
                i{
                    font-size: 20px;
                    color: rgb(168, 32, 32);
                }
                p{
                    margin: 15px 0px;
                    font-size: 18px;
                }
            }
        }
        
    }
    .blog{
        text-align: center;
        h1{
            font-size: 34px;
            position: relative;
            margin: 20px 0px;
            &::after{
                content: '';
                position: absolute;
                width: 80px;
                height: 3px;
                background-color: rgb(221, 136, 0);
                left: 46%;
                bottom: -5px;
            }
        }
        .post{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            div{
                width: 200px;
                margin: 20px 7px;
                background-color: rgb(228, 228, 228);
                img{
                    width: 100%;
                    height: 130px;
                }
                h3{
                    font-size: 12px;
                    padding: 10px 20px;
                }
                p{
                    padding: 5px 20px;
                    font-size: 12px;
                    color: rgb(63, 60, 60);
                }
                div{
                    margin: 0px;
                    display: flex;
                    justify-content: space-around;
                    *{
                        font-size: 10px;
                        font-family: 500;
                    }
                }
            }
        }
    }
    .plan{
        background-color: rgb(18, 19, 24);
        color: white;
        text-align: center;
        padding: 5px 0px;
        padding-bottom: 30px;
        h1{
            position: relative;
            text-align: center;
            margin: 30px 0px;
            &::before{
            content: '';
            width: 90px;
            height: 3px;
            position: absolute;
            bottom: -10px;
            left: 44%;
            background-color: rgb(36, 34, 34);
            }
        }
        section{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            div{
                margin: 0px 2px;
                .price{
                    background-color: black;
                    padding: 10px 23px;
                    margin-top: 15px;
                    p{
                        font-size: 14px;
                    }
                    h2{
                        font-size: 16px;
                    }
                }
                .capacity{
                    background-color: rgb(22, 23, 27);
                    padding: 40px 23px;
                    line-height: 18px;
                    p{
                        color: rgb(175, 175, 175);
                        font-size: 11px;
                        span{
                        font-weight: 600;
                        color: white;
                        } 
                    }
                    button{
                        padding: 5px 10px;
                        margin-top: 20px;
                        font-size: 10px;
                        background-color: rgb(170, 62, 0);
                        color: white;
                        border-radius: 4px;
                        border: none;
                        cursor: pointer;
                    }
                }
            }
            
        }
       
    }
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 20px 0px;
        h1{
            font-size: 34px;
            position: relative;
            margin: 20px 0px;
            &::after{
                content: '';
                position: absolute;
                width: 80px;
                height: 3px;
                background-color: rgb(221, 125, 0);
                left: 34%;
                bottom: -5px;
            }
        }
        p{
            font-size: 14px;
            color: rgb(63, 62, 62);
            padding: 0px 20px;
        }
        div{
            width: 70%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 30px 0px;
            text-align: center;
            input{
                width: 243px;
                padding: 10px 0px;
                border: none;
                border-bottom: 1px solid gray;
                position: relative;
                outline: none;
                &::after{
                    content: '';
                    position: absolute;
                    width: 8px;
                    height:83px;
                    background-color: rgb(221, 136, 0);
                    left: 0%;
                    bottom: px;   
                }
            }
            & input:nth-child(1){
                margin-right: 15px;
            }
            textarea{
                width: 500px;
                border: none;
                padding-top: 20px;
                outline: none;
                border-bottom: 1px solid gray;
            }
        }
        button{
            padding: 10px;
            background-color: rgb(221, 125, 0);
            color: white;
            border: none;
            border-radius: 2px;
            cursor: pointer;
        }
    }
}
footer{
    background-color: rgb(18, 19, 24);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    img{
        width: 25px;
        height: 25px;
    }
    h1{
        font-size: 16px;
        letter-spacing: 10px;
        span{
            font-size: 18px;
        }
        .span2{
            font-size: 17px;
        }
    }
    h2{
        font-size: 13px;
        font-weight: 400;
    }
    a{
        text-decoration: none;
        color: white;
        i{
        font-size: 15px;
        margin: 5px;
        }
    }
    
}
@media (max-width: 1200px){
    main{
        .goods{
            h1{
            font-size: 40px;
            }
            p{
                font-size: 16px;
            }
            section{
                flex-wrap: wrap;
                img{
                    width: 300px;  
                }
            }
        }
    }
}
@media (max-width: 1100px){
    main{
        .goods{
            h1{
                font-size: 38px;
                &::before{
                    left: 43%;
                }
            }
        }
        .skills{
            div:nth-child(1){
                img{
                    width: 150px;
                }
            }
            div{
                div{
                    h3{
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1000px){
    main{
        .goods{
            h1{
                font-size: 34px;
            }
        }
    }
}
@media (max-width: 900px){
    main{
        .goods{
            h1{
                font-size: 32px;
            }
        }
    }
}
@media (max-width: 850px){
    main{
        .scene{
            div{
                h1{
                    font-size: 22px;
                }
                p{
                    font-size: 15px;
                    margin-bottom: 10px;
                }
            }
            video{
                width: 400px;
                height: 300px;
            }
        }
        .goods{
            h1{
                font-size: 30px;
                &::before{
                    width: 100px;
                }
            }
        }
    }
} 
@media (max-width: 750px){
    main{
        .scene{
            text-align: center;
            flex-wrap: wrap;
            video{
                width: 100%;
            }
        }
        .goods{
            section{
                img{
                    width: 350px;
                }
            }
        }
        .blog{
            h1{
                font-size: 32px;
            }
        }
       .form{
           h1{
               font-size: 32px;
           }
            div{
                input{
                    width: 500px;
                }
                input:nth-child(1){
                    margin-right: 0px;
                }
            }   
        } 
    }
}
@media (max-width: 700px){
    main{
        .goods{
            section{
                img{
                    width: 500px;
                    height: 440px;
                    margin-top: 5px;
                }
            }
        }
        .skills{
            padding: 35px;
        }
        .features{
            h1{
                &::before{
                    left: 41%;
                }
            }
            .short{
                flex-wrap: wrap;
            }
        }
        .plan{
            h1{
                &::before{
                    left: 42%;
                }
            }
        }
        .blog{
            h1{
                font-size: 22px;
                &::after{
                    left: 44%;
                }
            }
        }
    }
}
@media (max-width: 500px){
    main{
        .scene{
            div{
                h1{
                    font-size: 20px;
                }
                p{
                    font-size: 14px;
                }
            }
        }
        .goods{
            section{
                img{
                    width: 450px;
                    height: 390px;
                    margin-top: 5px;
                }
            }
        }
        .features{
            h1{
                font-size: 22px;
                &::before{
                    left: 40%;
                }
            }
        }
        .blog{
            h1{
                &:after{
                    left: 42%;
                }
            }
        }
        .skills{
            padding: 20px;
            flex-wrap: wrap;
            div:nth-child(1){
                width: 100%;
                margin-bottom: 0px;
                img{
                    width: 200px;
                    margin: 20px 0px;
                }
            }
            div:nth-child(2){
                margin-top: 0px;
                h1{
                    font-size: 22px;
                }
                p{
                    font-size: 11px;
                }
                h3{
                    font-size: 14px;
                }
            }
        }
        .plan{
            h1{
                font-size: 22px;
                &::before{
                    left: 41%;
                }
            }
        }
        .form{
            h1{
                font-size: 22px;
                &::after{
                    left: 29%;
                }
            }
        }
    }
}
@media (max-width: 450px){
    main{
        .goods{
            section{
                img{
                    width: 330px;
                    height: 200px;
                }
            }
        }
        .features{
            .short{
                div{
                    margin: 0px 20px;
                }
            }
        }
    }
}   
@media (max-width: 350px){
    main{
        .goods{
            h1{
                &:before{
                    left: 33%;
                }
            }
            section{
                img{
                    width: 300px;
                    height: 200px;
                }
            }
        }
        .features{
            h1{
                &::before{
                    left: 34%;
                }
            }
        }
        .blog{
            h1{
                &:after{
                    left: 40%;
                }
            }
        }
        .plan{
            h1{
                &::before{
                    left: 37%;
                }
            }
        }
    }
}   